{% extends 'partials/base.html'%}
{% block title %} Login Page {% endblock%}
{% load crispy_forms_tags %}

{% block content%}
 <div class="container">
   <div class="row mt-5">
     <div class="col-md-6">
       <div class="border p-3 bg-white ">
          <div class="text-center">
            <h3> Login Page</h3>
            <br>
          </div>

          <div class="col-md-6">
            <form method=POST>
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-success text-center" type="submit" value="Login">
            </form>
          </div>
          <br>
          <div class="text-center">
           <h7>------ or login using -------</h7>
         <div>
          <br>

         <!--Facebook Login-->
         <div class="text-center">
            <a class="facebook text-decoration-none" href="{% url 'social:begin' 'facebook' %}">
              <input class="btn btn-success bg-primary" type="" value="Facebook">
            </a>
            <br>

            <br>
            <a class="facebook text-decoration-none" href="{% url 'social:begin' 'github' %}">
              <input class="btn btn-secondary bg-secondary" type="" value="GitHub">
            </a>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
{% endblock %}
